body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100dvh;
  margin: 0;
}

#root {
  width: 100dvw;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
